#home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .me {
        border-radius: 8px;
        margin: auto;
        margin: 10%;

        background: $background-color;
        border-radius: 50px;
        box-shadow: 5px 5px 20px #e5e5e6, 0px 0px 10px $background-color;

        .img {
            img {
                border-radius: 100%;
                border: .15em solid $primary-color;
                width: 80%;
                height: auto;          
                padding: 0;
                margin: 10% 0;
                filter: brightness(0.9);
            }
        }
        
        .description {
            font-size: 3vw;
            font-weight: 900;
            word-spacing: .1em;
            color: $primary-color;

            .im {
                .name {
                    visibility: initial;
                    cursor: pointer;

                    &:hover {
                        span {
                            display: none;
                        }

                        content: '';
                        &:before {
                            content: 'Developer';
                        }
                    }
                }
            }
        }

        .location {
            font-size: 1.5vw;
            font-weight: 900;
            word-spacing: .1em;
            color: $primary-color;

            div {
                border-radius: 100px;
                padding: 4px 8px 0 8px;
                text-align: center;
                border: 1.8px solid $primary-color;

                span {
                    padding-left: 4px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #home-content {
        .me {
            .img {
                img {
                    width: 70%;
                }
            }
    
            .description {
                font-size: 5vw;
                margin-bottom: 1.2em;
                margin-left: 0.8em;
            }
        }
    }
}

@media only screen and (min-width : 320px) and (max-width: 760px) and (orientation: landscape){
    #home-content {
        padding-top: 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #home-content {
        .me {
            .img {
                img {
                    width: 70%;
                }
            }
    
            .description {
                font-size: 5vw;
                margin-bottom: 1.2em;
                margin-left: 0.8em;
            }

            .location {
                font-size: 4.4vw;
                font-weight: 900;
                word-spacing: .1em;
                color: $primary-color;
                
                div {
                    padding: .5em 1.2em .3em 1.2em;
                }
            }
        }
    }
}