#skills-content {
    .container-skills {
        padding: 2em 3em 0 3em;
        min-height: auto;

        section {
            margin-top: 2m;
            margin-bottom: 2em;
            color: $grey-color;

            .section-title {
                span:not(.title) {
                    border: 2px solid $primary-color;
                    border-radius: 3px;
                }
                .title {
                    font-size: 1.2em;
                    position: relative;
                    top: 3px;
                    margin-left: 6px;
                }
            }

            .skillsList {
                margin-left: 10px;

                .skill-item {
                    text-align: center;
                    display: inline-grid;
                    margin: 0.8em 0.8em 0 0;
                    padding: 0.4em;
                    padding-top: 0.8em;
                    font-size: 1em;
                    min-width: 9em;
            
                    border: 1px solid $grey-color;
                    border-radius: 5px;
            
                    &[data-background="html"] {
                        color: $html-color;
                    }
            
                    &[data-background="js"] {
                        color: $js-color;
                    }
            
                    &[data-background="css"] {
                        color: $css-color;
                    }
            
                    &[data-background="angular"] {
                        color: $angular-color;
                    }
            
                    &[data-background="vue"] {
                        color: $vue-color;
                    }
            
                    &[data-background="bootstrap"] {
                        color: $boostrap-color;
                    }
            
                    &[data-background="mongo"] {
                        color: $mongo-color;
                    }
            
                    &[data-background="express"] {
                        color: $express-color;
                    }
            
                    &[data-background="mysql"] {
                        color: $mysql-color;
                    }
            
                    &[data-background="java"] {
                        color: $java-color;
                    }
            
                    &[data-background="php"] {
                        color: $php-color;
                    }
            
                    &[data-background="git"] {
                        color: $git-color;
                    }
            
                    &[data-background="vscode"] {
                        color: $vs-color;
                    }
            
                    &[data-background="scrum"] {
                        color: $grey-color;
                    }
            
                    &[data-background="ts"] {
                        color: $ts-color;
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #skills-content {
        .container-skills {
            min-height: 860px;
            padding: 2em 3em 0 3em;
            section {
                .section-title {
                    min-width: 7em;
                    font-size: 1em;
                }

                .skillsList {
                    .skill-item {
                        font-size: 0.8em;
                        padding-top: .8em;
                    }
                }
            }
        }
    }
}