$primary-color: #3c7168;
$secondary-color: #d3ede8;
$tertiary-color: #4faa84;
$grey-color: #8a8a8a;
$background-color: #f9f9fa;

// Skills colors
$angular-color: #C4032F;
$html-color: #E96328;
$css-color: #036DB8;
$js-color: #F7DF1B;
$boostrap-color: #7953B2;
$vue-color: #40B98380;
$mongo-color: #13A952;
$node-color: #67A063;
$express-color: #353535;
$mysql-color: #48819D;
$java-color: #D30004;
$php-color: #5E7EB5;
$git-color: #E94E31;
$vs-color: #227EB8;
$ts-color: #3074BF;