
<div id="home-content">
  <div class="row d-flex align-items-center me">
    <div class="col-12 col-md-4 img">
      <div class="row pb-4">
        <div class="col-12">
          <img class="mx-auto d-block img-thumbnail" src="https://media-exp1.licdn.com/dms/image/C4D03AQFYSXBgMLSdiw/profile-displayphoto-shrink_400_400/0/1609621223373?e=1614816000&v=beta&t=vT8S7F9zqqS0mTz9iJp3qhOrg-U0Jas159TVxnbOiok" alt="It's me">
        </div>
        <div class="location col-12 d-flex justify-content-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <span> València </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 d-flex justify-content-center description">
      <div class="row">
        <div class="hello col-12"> Hello &#128075; , </div>
        <div class="im col-12"> I am 
          <span class="name"> <span> Carlos </span> </span>
          <span class="point"> · </span>
          <span class="notbadcode"> Notbadcode </span>
        </div>
      </div>
    </div>
  </div>
</div>

