
<div id="home-content">
  <div class="image">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFYSXBgMLSdiw/profile-displayphoto-shrink_400_400/0/1609621223373?e=1614816000&v=beta&t=vT8S7F9zqqS0mTz9iJp3qhOrg-U0Jas159TVxnbOiok" alt="It's me">
    <div class="description">
      <div class="hello"> Hello &#128075; , </div>
      <div class="im"> I am 
          <span class="name"> <span> Carlos </span> </span>
          <span class="point"> · </span>
          <span class="notbadcode"> Notbadcode </span>
      </div>
    </div>
  </div>
  <div>
    <button class="btn border btn-success" id="btnGoSkills">
      <a title="My Skills" href="#/skills">
        <span> See my Skills </span>
        <i class="fas fa-chevron-right"></i>
      </a>
    </button>
  </div>
</div>

