<div id="skills-content">
    <div class="container-skills">

        <section>
            <div class="section-title">
                <span></span>
                <span class="title">Basics</span>
            </div>

            <div class="skillsList">
                <div class="skill-item">HTML5</div>
                <div class="skill-item">CSS3</div>
                <div class="skill-item">Javasript</div>
            </div>

        </section>

        <section>
            <div class="section-title">
                <span></span>
                <span class="title">Languages</span>
            </div>

            <div class="skillsList">
                <div class="skill-item">TypeScript</div>
                <div class="skill-item">Java</div>
                <div class="skill-item">PHP</div>
            </div>
        </section>

        <section>
            <div class="section-title">
                <span></span>
                <span class="title">Frameworks</span>
            </div>

            <div class="skillsList">
                <div class="skill-item">Angular</div>
                <div class="skill-item">VueJS</div>
                <div class="skill-item">Express.js</div>
                <div class="skill-item">Boostrap</div>
            </div>
        </section>

        <section>
            <div class="section-title">
                <span></span>
                <span class="title">Database</span>
            </div>

            <div class="skillsList">
                <div class="skill-item">Mongo DB</div>
                <div class="skill-item">MySQL</div>
            </div>
        </section>

        <section>
            <div class="section-title">
                <span></span>
                <span class="title">Environment</span>
            </div>

            <div class="skillsList">
                <div class="skill-item">Node JS</div>
                <div class="skill-item">Git</div>
                <div class="skill-item">Gitflow</div>
                <div class="skill-item">VS Code</div>
                <div class="skill-item">Scrum</div>
            </div>
        </section>

    </div>
</div>